body {
    color:red;
    font-family: "Bungee Spice";

    text-align: center;
  }

.header{
    padding: 20px;
    background-color: black;
    background-size: cover;             
    background-position: center;
    margin: 0px;
  }

#logoansel{
  width: 15%;
  height: auto;
  display: flex; /* Alinea los elementos en fila */
  align-items: center; /* Centra verticalmente el logo y el texto */
  justify-content: center; /* Centra horizontalmente el contenedor */
  gap: 10px; /* Espacio entre el logo y el texto */
}

#anse{
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
               0 0 10px rgba(51, 255, 0, 0.6), 
               0 0 15px rgba(255, 255, 255, 0.4); 
  font-size: 38px;
  margin-left: 15px; /* Elimina márgenes adicionales */
  margin-top: -50px; /* Ajusta este valor para subir el texto */
 
}

#POPU{
  margin-top: 5px; /* Ajusta este valor para subir el texto */
  text-shadow: 0 0 5px rgb(0, 89, 253), 
               0 0 10px rgba(77, 139, 255, 0.816), 
               0 0 15px rgba(133, 206, 255, 0.689); 
  font-size: 38px;
  font-family: "Bungee Spice";
  
}

#tiljuegos{
  font-family: "Silkscreen";
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
               0 0 10px rgba(255, 255, 255, 0.6), 
               0 0 15px rgba(255, 255, 255, 0.4);
  margin-top: 18px; /* Ajusta este valor para subir el texto */
  color: white;
  font-size: 23px ;
}


#img1 {
  margin-top: 25px; /* Espacio entre la imagen y el texto */
  margin-bottom: 20px; /* Espacio entre la imagen y el texto */
  width: 70%;
  border-radius: 7%; /* Hace que la imagen sea circular */
  box-shadow: 0 8px 16px rgba(217, 0, 255, 0.7); /* Sombra inicial */
  transition: transform 0.3s ease; /* Transición suave para el efecto */
}

#img1:hover {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */
}



#colonav {
  background-color: black !important; /* Fuerza el fondo negro */
  margin-left: 15px; /* Elimina márgenes adicionales */
  margin-top: 19px ; /* Ajusta este valor para subir el texto */
  
}

.header2{
    padding: 20px;
    background: rgba(0, 0, 0, 0.3) url(../img/game-console-6603120_1280.jpg);
    background-size: cover;             
    background-position: center;
    margin-top: 0px;
    font-family: "Rethink Sans";
    color: rgb(0, 30, 255);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
  }

  #tiljuegos2{
    font-family: "Silkscreen";
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
                 0 0 10px rgba(255, 255, 255, 0.6), 
                 0 0 15px rgba(255, 255, 255, 0.4);
    margin-top: 18px; /* Ajusta este valor para subir el texto */
    color: rgb(0, 0, 0);
    font-size: 23px ;
  }

  #img2{
    margin-top: 25px; /* Espacio entre la imagen y el texto */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    width: 98%;
    border-radius: 7%; /* Hace que la imagen sea circular */
    box-shadow: 0 8px 16px rgba(217, 0, 255, 0.7); /* Sombra inicial */
    transition: transform 0.3s ease; /* Transición suave para el efecto */
  }

  #POPU1{
    margin-top: 30px; /* Ajusta este valor para subir el texto */
    text-shadow: 0 0 5px rgb(0, 89, 253), 
                 0 0 10px rgba(77, 139, 255, 0.816), 
                 0 0 15px rgba(133, 206, 255, 0.689); 
    font-size: 38px;
    font-family: "Bungee Spice";
    
  }

  #img3{
    margin-top: 25px; /* Espacio entre la imagen y el texto */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    width: 80%;
    border-radius: 7%; /* Hace que la imagen sea circular */
    box-shadow: 0 8px 16px rgba(217, 0, 255, 0.7); /* Sombra inicial */
    transition: transform 0.3s ease; /* Transición suave para el efecto */
  }
  #img4{
    margin-top: 25px; /* Espacio entre la imagen y el texto */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    width: 100%;
    border-radius: 7%; /* Hace que la imagen sea circular */
    box-shadow: 0 8px 16px rgba(217, 0, 255, 0.7); /* Sombra inicial */
    transition: transform 0.3s ease; /* Transición suave para el efecto */
  }