
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>God of War - AnselmoGames</title>
    <link rel="icon" href="./IMG/isidoro.jpeg">
    <link rel="stylesheet" href="css.css">
</head>
  
<body>
    <div class="container">
        <div class="main-content">
            <h1>God of War</h1>
            <div class="rating">
                <span>⭐⭐⭐⭐⭐ 5</span>
                <span>| 30 reseñas</span>
            </div>
            <img src="./IMG/god-of-war-pc-juego-steam-cover.jpg" alt="God of War" class="main-image">
            <div class="info">
                <p><strong>Plataforma:</strong> Steam / PlayStation</p>
                <p><strong>Región:</strong> GLOBAL</p>
                <p><strong>Tipo:</strong> Historia / Acción</p>
                <p><strong>Plataformas:</strong> PlayStation, PC</p>
                <p class="desc">God of War es un juego de acción y aventura que sigue la historia de Kratos, un guerrero espartano, y su hijo Atreus. Ambientado en la mitología nórdica, los jugadores acompañan a este dúo en un viaje épico lleno de desafíos, criaturas legendarias y momentos emotivos.</p>
                <ul>
                    <li class="desc"><strong>Kratos:</strong> Un antiguo dios de la guerra que lucha por dejar atrás su pasado violento.</li>
                    <li class="desc"><strong>Atreus:</strong> Su hijo, curioso e inteligente, que busca conocer su herencia y convertirse en un guerrero.</li>
                    <li class="desc"><strong>Jugabilidad:</strong> Combate brutal con el Hacha del Leviatán, rompecabezas ambientales y exploración en un mundo semiabierto.</li>
                </ul>
                <p class="desc">Una historia profundamente emocional donde padre e hijo enfrentan dioses, monstruos y su propio destino en los reinos de Midgard.</p>
            </div>
        </div>
        <div class="sidebar">
            <div class="vendor-box">
                <div class="vendor-info">
                    <img src="./IMG/isidoro.jpeg" class="vendor-logo">
                    <p><strong>AnselmoGames</strong></p>
                    <p>98% Comentarios positivos</p>
                </div>
                <div class="price">
                    <p>24.99€</p>
                    <button onclick="alert('🛒¡Se ha añadido correctamente al carrito!🛒')" >Añadir al carrito</button>
                    <button class="paypal" onclick="window.location.href='pagogof.html'">Comprar ahora con PayPal</button>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>