<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTA5 - AnselmoGames</title>
    <link rel="icon" href="./IMG/isidoro.jpeg">
    <link rel="stylesheet" href="../css/style.juegos.css">
    <link rel="icon" href="../img/images.jpeg" type="image/x-icon">
</head>
  

<body>
    <div class="container">
        <div class="main-content">
            <h1>Grand Theft Auto V</h1>
            <div class="rating">
                <span>⭐⭐⭐⭐⭐ 5</span>
                <span>| 23 reseñas</span>
            </div>
            <img src="../img/gta5-2.jpg" alt="gta5" class="main-image">
            <div class="info">
                <p><s5trong>Plataforma:</strong> Steam</p>
                <p><strong>Región:</strong> GLOBAL</p>
                <p><strong>Tipo:</strong> Online/Historia</p>
                <p><strong>Plataformas:</strong> PlayStation, Xbox, PC</p>
                <p class="desc">GTA V es un juego de acción en mundo abierto que se desarrolla en la ciudad ficticia de Los Santos, basada en Los Ángeles. La historia gira en torno a tres protagonistas jugables:</p>
                <ul>
                    <li class="desc"><strong>Michael De Santa:</strong> un ex ladrón de bancos que vive en una mansión con su conflictiva familia.</li>
                    <li class="desc"><strong>Franklin Clinton:</strong> un joven de los barrios bajos que quiere salir de la vida callejera.</li>
                    <li class="desc"><strong>Trevor Philips:</strong> un criminal impredecible, violento y excompañero de Michael.</li>
                </ul>
                <p class="desc">Los tres se unen para realizar una serie de atracos espectaculares, mientras lidian con traiciones, mafias, la policía y sus propios problemas personales.</p>
            </div>
        </div>
        <div class="sidebar">
            <div class="vendor-box">
                <div class="vendor-info">
                    <img src="../img/images.jpeg" class="vendor-logo">
                    <p><strong>AnselmoGames</strong></p>
                    <p>98% Comentarios positivos</p>
                </div>
                <div class="price">
                    <p>15.99€</p>
                    <button onclick="alert('Se a añadido correctamnet a el carrito!')" >Añadir al carrito</button>
                    <button class="paypal" onclick="window.location.href='pagogta.html'">Comprar ahora con PayPal</button>
                </div>
           
    </div> 
</body>
</html>