<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last of Us - AnselmoGames</title>
    <link rel="icon" href="../img/images.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.juegos.css">
</head>
  
<body>
    <div class="container">
        <div class="main-content">
            <h1>The Last of Us</h1>
            <div class="rating">
                <span>⭐⭐⭐⭐⭐ 5</span>
                <span>| 42 reseñas</span>
            </div>
            <img src="../img/lastofus.jpg" alt="The Last of Us" class="main-image">
            <div class="info">
                <p><strong>Plataforma:</strong> PlayStation / Steam</p>
                <p><strong>Región:</strong> GLOBAL</p>
                <p><strong>Tipo:</strong> Historia / Aventura / Supervivencia</p>
                <p><strong>Plataformas:</strong> PlayStation, PC</p>
                <p class="desc">The Last of Us es un juego de acción y supervivencia ambientado en un mundo postapocalíptico. La historia sigue a Joel, un hombre endurecido por las pérdidas, y Ellie, una adolescente con un secreto que podría cambiar el destino de la humanidad.</p>
                <ul>
                    <li class="desc"><strong>Joel:</strong> Un contrabandista marcado por su trágico pasado, encargado de proteger a Ellie.</li>
                    <li class="desc"><strong>Ellie:</strong> Una joven valiente e inmune a la infección que ha devastado al mundo.</li>
                    <li class="desc"><strong>Jugabilidad:</strong> Combina sigilo, combate estratégico, exploración y una narrativa emocional profunda.</li>
                </ul>
                <p class="desc">Viaja a través de ciudades en ruinas, enfréntate a infectados y humanos hostiles, y experimenta una de las historias más impactantes del mundo de los videojuegos.</p>
            </div>
        </div>
        <div class="sidebar">
            <div class="vendor-box">
                <div class="vendor-info">
                    <img src="../img/images.jpeg" class="vendor-logo">
                    <p><strong>AnselmoGames</strong></p>
                    <p>98% Comentarios positivos</p>
                </div>
                <div class="price">
                    <p>29.99€</p>
                    <button onclick="alert('🛒¡Se ha añadido correctamente al carrito!🛒')" >Añadir al carrito</button>
                    <button class="paypal" onclick="window.location.href='pagolou.html'">Comprar ahora con PayPal</button>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>