
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need for Speed Heat - AnselmoGames</title>
    <link rel="icon" href="./IMG/isidoro.jpeg">
    <link rel="stylesheet" href="css.css">
</head>
  
<body>
    <div class="container">
        <div class="main-content">
            <h1>Need for Speed Heat</h1>
            <div class="rating">
                <span>⭐⭐⭐⭐⭐ 5</span>
                <span>| 18 reseñas</span>
            </div>
            <img src="./IMG/needforspeed.jpg" alt="Need for Speed Heat" class="main-image">
            <div class="info">
                <p><strong>Plataforma:</strong> Origin / Steam</p>
                <p><strong>Región:</strong> GLOBAL</p>
                <p><strong>Tipo:</strong> Online / Historia</p>
                <p><strong>Plataformas:</strong> PlayStation, Xbox, PC</p>
                <p class="desc">Need for Speed Heat es un juego de carreras de mundo abierto ambientado en la ciudad ficticia de Palm City. Combina carreras legales durante el día con desafíos ilegales por la noche, donde te enfrentarás a policías corruptos y carreras callejeras peligrosas.</p>
                <ul>
                    <li class="desc"><strong>Modo Día:</strong> Participa en eventos oficiales para ganar dinero y mejorar tu coche.</li>
                    <li class="desc"><strong>Modo Noche:</strong> Compite en carreras clandestinas para aumentar tu reputación, pero ten cuidado con la policía.</li>
                    <li class="desc"><strong>Personalización:</strong> Modifica coches a tu gusto, desde el rendimiento hasta el estilo visual.</li>
                </ul>
                <p class="desc">Explora libremente, forma tu colección de autos y conviértete en el corredor más buscado de Palm City.</p>
            </div>
        </div>
        <div class="sidebar">
            <div class="vendor-box">
                <div class="vendor-info">
                    <img src="./IMG/isidoro.jpeg" class="vendor-logo">
                    <p><strong>AnselmoGames</strong></p>
                    <p>98% Comentarios positivos</p>
                </div>
                <div class="price">
                    <p>19.99€</p>
                    <button onclick="alert('🛒¡Se ha añadido correctamente al carrito!🛒')" >Añadir al carrito</button>
                    <button class="paypal" onclick="window.location.href='pagonfs.html'">Comprar ahora con PayPal</button>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>
