
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need for Speed Heat - AnselmoGames</title>
    <link rel="icon" href="../img/isidoro.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="../css/godofwar.css">
    <link rel="icon" href="../img/images.jpeg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>
  
<body>
    <div class="header"><!--abre div de header-->
        <div class="container-fluid"> <!--abre div de container text-center-->
            <div class="row"><!--abre row-->
               <div class="col-sm-12 col-lg-4"><!--sm tamaño movil lg tamaño ordenador, abre div logo-->
                <a href="../views/index.html"><img id="logoansel" src="../img/images.jpeg" alt="Imagen Charmeleon"></a>
                <h1 id="anse">Anselmogames</h1><!--titulo header con id para aplicar estilo-->
              </div><!--cierra div texto-->
    
            <div class="col-sm-12 col-lg-8"><!--sm tamaño movil lg tamaño ordenador, abre div nav-->
                <nav id="colonav" class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../views/index.html">Anselmogames</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/juego1.html">GTAV</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/needforspeed.html">NEED FOR SPEED HEAT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/godofwar.html">GOD OF WAR</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/lastofus.html">THE LAST OF US</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            </div><!--cierra div texto-->
            </div><!--cierra row -->
        </div><!--cierra div de container fluid-->
    </div><!--cierra div de header-->
</div>
    <div class="container-fluid fondond"> <!--abre div de container text-fluid-->
        <div class="row"><!--abre row-->
             <div class="col-sm-6 col-lg-7"><!--sm tamaño movil lg tamaño ordenador, abre div texto+img-->
                <h1 id="titu">Need for Speed Heat</h1>
                <div class="rating">
                    <span>⭐⭐⭐⭐⭐ 5</span>
                    <span>| 18 reseñas</span>
                </div>
                <img src="../img/needforspeed.jpg" alt="needforspeed" class="main-image">
                <div class="desc">
                    <p><strong>Plataforma:</strong> Origin / Steam</p>
                <p><strong>Región:</strong> GLOBAL</p>
                <p><strong>Tipo:</strong> Online / Historia</p>
                <p><strong>Plataformas:</strong> PlayStation, Xbox, PC</p>
                <p class="desc">Need for Speed Heat es un juego de carreras de mundo abierto ambientado en la ciudad ficticia de Palm City. Combina carreras legales durante el día con desafíos ilegales por la noche, donde te enfrentarás a policías corruptos y carreras callejeras peligrosas.</p>
                <ul>
                    <li class="desc"><strong>Modo Día:</strong> Participa en eventos oficiales para ganar dinero y mejorar tu coche.</li>
                    <li class="desc"><strong>Modo Noche:</strong> Compite en carreras clandestinas para aumentar tu reputación, pero ten cuidado con la policía.</li>
                    <li class="desc"><strong>Personalización:</strong> Modifica coches a tu gusto, desde el rendimiento hasta el estilo visual.</li>
                </ul>
                <p class="desc">Explora libremente, forma tu colección de autos y conviértete en el corredor más buscado de Palm City.</p>
                </div>
            </div><!--cierra div texto + img-->
            <div class="col-sm-6 col-lg-5"><!--sm tamaño movil lg tamaño ordenador, abre div texto+img-->
                <div class="sidebar">
                    <div class="vendor-box">
                        <div class="vendor-info">
                            <img src="../img/images.jpeg" class="vendor-logo">
                            <p><strong>AnselmoGames</strong></p>
                            <p>98% Comentarios positivos</p>
                        </div>
                        <div class="price">
                            <p>19.99€</p>
                            <button onclick="alert('🛒¡Se ha añadido correctamente al carrito!🛒')" >Añadir al carrito</button>
                            <button class="paypal" onclick="window.location.href='pagonfs.html'">Comprar ahora con PayPal</button>
                        </div>
                    </div>
                </div> 
            </div><!--cierra div texto + img-->

            <div class="col-sm-12 col-lg-12"><!--sm tamaño movil lg tamaño ordenador, abre div texto + img-->
                <div class="video-container" id="video">
                    <iframe width="1500" height="785" src="https://www.youtube.com/embed/2FhCCBXhNr4?si=H4jELtMf20aGP9xz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div><!--cierra div texto + img-->        
        </div><!--cierra row-->
    </div><!--cierra div de container text-fluid-->  

    
</body>
</html>
