<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Dead Redemption 2 - AnselmoGames</title>
    <link rel="icon" href="../img/images.jpeg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/godofwar.css">  
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>
  
<body>
    <div class="header"><!--abre div de header-->
        <div class="container-fluid"> <!--abre div de container text-center-->
            <div class="row"><!--abre row-->
               <div class="col-sm-12 col-lg-4"><!--sm tamaño movil lg tamaño ordenador, abre div logo-->
                <a href="../index.html"><img id="logoansel" src="../img/images.jpeg" alt="Imagen Charmeleon"></a>
                <h1 id="anse">Anselmogames</h1><!--titulo header con id para aplicar estilo-->
              </div><!--cierra div texto-->
    
            <div class="col-sm-12 col-lg-8"><!--sm tamaño movil lg tamaño ordenador, abre div nav-->
                <nav id="colonav" class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">Anselmogames</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/juego1.html">GTAV</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/needforspeed.html">NEED FOR SPEED HEAT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/godofwar.html">GOD OF WAR</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="../views/lastofus.html">THE LAST OF US</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            </div><!--cierra div texto-->
            </div><!--cierra row -->
        </div><!--cierra div de container fluid-->
    </div><!--cierra div de header-->


    <div class="container-fluid fondored">
        <div class="row">
            <div class="col-sm-6 col-lg-7">
                <h1 id="titu">Red Dead Redemption 2</h1>
                <div class="rating">
                    <span>⭐⭐⭐⭐⭐ 5</span>
                    <span>| 25 reseñas</span>
                </div>
                <img src="../img/Red Dead Redemption 2.jpeg" alt="Red Dead Redemption 2" class="main-image">
                <div class="desc">
                    <p><strong>Plataforma:</strong> Steam / Rockstar</p>
                    <p><strong>Región:</strong> GLOBAL</p>
                    <p><strong>Tipo:</strong> Historia / Online</p>
                    <p><strong>Plataformas:</strong> PlayStation, Xbox, PC</p>
                    <p class="desc">Red Dead Redemption 2 es un juego de acción y aventura en el salvaje oeste. Vive la historia de Arthur Morgan, un forajido en la banda de Dutch van der Linde, mientras luchas por sobrevivir en un mundo cambiante lleno de peligros, caza, combates, y decisiones morales.</p>
                    <ul>
                        <li class="desc"><strong>Mundo abierto:</strong> Explora vastos paisajes con detalles impresionantes.</li>
                        <li class="desc"><strong>Historia profunda:</strong> Atraviesa traiciones, amistades y decisiones difíciles.</li>
                        <li class="desc"><strong>Modo Online:</strong> Juega con otros y crea tu propia historia en el Lejano Oeste.</li>
                    </ul>
                    <p class="desc">Un juego que combina una narrativa épica con libertad total de exploración.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="sidebar">
                    <div class="vendor-box">
                        <div class="vendor-info">
                            <img src="../img/images.jpeg" class="vendor-logo">
                            <p><strong>AnselmoGames</strong></p>
                            <p>98% Comentarios positivos</p>
                        </div>
                        <div class="price">
                            <p>29.99€</p>
                            <button onclick="alert('🛒¡Se ha añadido correctamente al carrito!🛒')">Añadir al carrito</button>
                            <button class="paypal" onclick="window.location.href='pagoRed.html'">Comprar ahora con PayPal</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-12">
                <div class="video-container" id="videored">
                    <iframe width="1500" height="785" src="https://www.youtube.com/embed/eaW0tYpxyp0" title="Red Dead Redemption 2 Trailer" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
